.gallery img {
  padding: 0.2rem;
  height: 15rem;
  transition: 0.5s;
}

.gallery {
  margin-top: 5rem;
  display: inline-block;
  padding: 0 10rem 0 10rem;
}

.gallery img:hover {
  filter: grayscale(100%);
  transform: scale(1.1);
  transition: 0.5s;
}

@media screen and (max-width: 768px) {
  .gallery {
    margin-top: 0rem;
    padding-top: 5rem;
    padding-right: 2rem;
    padding-left: 2rem;
    display: block;
    padding-bottom: 2rem;
  }

  .gallery img {
    padding: 0.2rem;
    height: 10rem;
    transition: 0.5s;
  }
}
